<table class="w-full box-border">
    <tbody>
        {{#if data}}
        {{#each config.config}}
        <tr>
            <td class="max-w-1/2">{{label}}</td>
            <td class="px-4 font-number text-right">{{resolveDataPath @root.data dataPath}}</td>
        </tr>
        {{/each}}
        {{else}}
        {{#times config.ExpectedNumberOfItems}}
        <tr>
            {{> PendingRow index=. }}
        </tr>
        {{/times}}
        {{/if}}
    </tbody>
</table>