<table class="box-border w-full">
    <tbody>
        {{#if data}}
        {{#each data}}
        <tr>
            <td>{{ oneBased @index }}&nbsp;-</td>
            <td class="max-w-1/2 text-gold">
                {{#if @root.disableLinks }}
                {{0}}
                {{else}}
                <a href='{{0}}/'>
                    {{0}}
                </a>
                {{/if}}
            </td>
            <td class="font-number text-right ps-2">
                {{ formatNumber this.[1] }}
            </td>
        </tr>
        {{/each}}
        {{else}}
        {{#times ExpectedNumberOfItems}}
        <tr>
            {{> PendingRow index=.}}
        </tr>
        {{/times}}
        {{/if}}
    </tbody>
</table>