<main class="mx-auto my-4 max-w-5xl markdown" id="rankings">
    <section class="m-4 mb-0 grow border-stats body-font bg-blue-950 text-white title-font">
        {{> Ranking ranking }}
    </section>
</main>
