<main class="mx-auto my-4 max-w-5xl markdown" id="rankings">
  <div class="grid grid-cols-1 md:grid-cols-3">
    {{#each stats}}
    <section class="flex flex-col m-4 mb-0 grow border-stats body-font bg-blue-950 text-white title-font gap-4">
      <h2 class="text-brass mt-4">{{title}}</h2>
      {{> Ranking (lookup @root [key]) }}
      <a class="appearance-none block border-2 border-brass bg-etched-brass text-brass text-center font-title" href="./ranking/{{key}}">View Top 100</a>
    </section>
    {{/each}}
  </div>
</main>