---
// SSR imports
import * as ErrorBoundary from "../dynamic/ErrorBoundary";
import "../stylesheets/common.css";
import "../stylesheets/markdown.css";
---

<script>
    // CSR imports
    import * as ErrorBoundary from "../dynamic/ErrorBoundary";
    import { PlayerRoute, PlayerLoader, PlayerPlaceholderLoader } from "../dynamic/PlayerRoute";
    import {
        RankingsRoute,
        RankingsLoader,
        RankingsPlaceholderLoader,
    } from "src/dynamic/RankingsRoute";

    const currentPathname = window.location.pathname;

    const playerMatch = currentPathname.match(/\/players\/([^\/]{1,64})\/?$/);
    const rankingMatch = currentPathname.match(/\/players\/?$/);

    type RouteType =
        | { id: "/players/$username"; username: string }
        | { id: "/players" }
        | { id: "error"; message: string; stackTrace: string }

    const RouteDefinitions = {
        "/players/$username": {
            placeholderLoader: PlayerPlaceholderLoader,
            loader: PlayerLoader,
            Component: PlayerRoute,
        },
        "/players": {
            placeholderLoader: RankingsPlaceholderLoader,
            loader: RankingsLoader,
            Component: RankingsRoute,
        }
    } as const

    if (playerMatch) {
        const [_, username] = playerMatch;
        onRouteChange({ id: "/players/$username", username: username });
    } else if (rankingMatch) {
        onRouteChange({ id: "/players" });
    }

    function setHeader(config?: { title: string; backlink?: string }) {
        if (config) {
            document
                .getElementsByTagName("header")[0]
                .classList.remove("hidden");
            document.getElementById("title").innerHTML = config.title;
            const backlink = document.getElementById("backlink");
            backlink.setAttribute("href", config.backlink ?? "#");
            if (config.backlink) {
                backlink.classList.remove("hidden");
            } else {
                backlink.classList.add("hidden");
            }
        } else {
            document.getElementsByTagName("header")[0].classList.add("hidden");
        }
    }

    function onRouteChange(route: RouteType) {
        if (route.id == "error") {
            render(
                ErrorBoundary.Scaffolding(
                    route.message,
                    null,
                    route.stackTrace,
                ),
            );
            setHeader(null);
        }

        function onError(error) {
            onRouteChange({ ...error, id: "error" });
        }

        return (async () => {
            for (const [ routeId, definition ] of Object.entries(RouteDefinitions)) {
                if (routeId === route.id) {
                    render(definition.Component(definition.placeholderLoader()))
                    const result = await definition.loader(route, { onError })
                    if (result) {
                        render(definition.Component(result))
                    }
                    return;
                }
            }
        })().catch((e) => {
            onRouteChange({
                id: "error",
                message: "Error occurred while fetching data.",
                stackTrace: e,
            });
        });
    }

    function render(component: string) {
        document.getElementById("app").innerHTML = component;
    }
</script>

<html lang="en" class="m-0 p-0 w-full min-h-full bg-gray-950">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Not Found</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="m-0 p-0 w-full min-h-full">
        <header class="hidden mb-12 headerimg">
            <div class="relative mx-auto max-w-5xl h-32">
                <h1
                    id="title"
                    class="absolute left-4 top-full px-2 -translate-y-1/2 bg-etched-brass border-4 border-brass text-4xl text-white"
                    class="title"
                >
                    Not Found
                </h1>
                <a
                    id="backlink"
                    class="hidden absolute top-full right-4 text-white"
                    href="#">Go Back</a
                >
            </div>
        </header>
        <div
            id="app"
            set:html={ErrorBoundary.Scaffolding(
                "Page not found!",
                "Please try refreshing the page and make sure to enable Javascript, or contact the developers on Discord.",
            )}
        />
    </body>
</html>

<style>
    .headerimg {
        background-image: url(/deepworld-2025-website/decorations/stats-header.png);
        background-size: cover;
    }

    @keyframes pending-row-animation {
        0% {
            opacity: 0.2;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 0.2;
        }
    }

    :global(.pending-row-animation) {
        counter-increment: pending-row;
        animation-name: pending-row-animation;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        height: 1em;
        background-color: white;
        border-radius: 0.2em;
        margin-bottom: 0.2em;
    }

    :global(.pending-row-animation):first {
        counter-reset: pending-row;
    }
</style>
