---
import Navigation from "@components/Navigation.astro";
import Text from "./_text.md";
import "../stylesheets/common.css";
import SocialLinks from "@components/SocialLinks.astro";
import { Image } from "astro:assets";
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepworld 2025 Edition</title>
</head>
<body>
    <header>
        <Navigation />
    </header>
    <main>
        <section id="social-section" class="relative py-18 text-center bg-gray-900 text-white h-120">
            <video class="absolute w-full h-full left-0 top-0 object-cover" width={960} height={720} autoplay loop muted playsinline>
                <source src="https://v2202410239072292297.goodsrv.de:6443/deepworld-website-video.webm" type="video/webm" />
                <source src="https://v2202410239072292297.goodsrv.de:6443/deepworld-website-video.mp4" type="video/mp4" />
            </video>
            <div id="social-section-contents" style={{ position: "absolute", left: "50%", top: "50%", transform: "translate(-50%, -50%)", maxWidth: "200rem" }}>
            <h1 class="title-font text-bold text-brass text-8xl my-4">The Legend has Returned</h1>
            <h2 class="text-2xl">Your favourite Steampunk MMORPG, sunsetted in 2019, is brought back online by devoted fans.</h2>
            <a class="block mx-auto mt-16 mb-8 p-2 brass-edging brass-background border-8 max-w-80 rounded-3xl" href="https://drive.google.com/file/d/1R8_Oy4K5CfC8RU967_lt1nL3orJM4axS/view">Download Updated Client</a>
            <SocialLinks size="3em" links={{ "discord": "https://discord.gg/J9FxmXM", "github": "https://github.com/kuroppoi/brainwine" }} />
            </div>
        </section>
        <section class="about bg-etched-brass text-white">
            <div class="mx-auto my-4 max-w-192">
                <Text />
            </div>
        </section>
    </main>
</body>
</html>

<style>
    :global(html) {
        background-color: var(--color-etched-brass);
    }
    .about :global(h1) {
        font-family: var(--title-font);
        font-size: 3rem;
    }
</style>

<script>
    function onResize() {
        const socialSectionHeight = document.getElementById("social-section-contents").getBoundingClientRect().height;
        document.getElementById("social-section").style.height = 1.2 * socialSectionHeight + "px";
    }

    onResize();

    addEventListener("resize", onResize);
</script>