@import "tailwindcss";

:root {
    --color-brass: #d5a259;
    --color-etched-brass: #1e1200;
    --title-font: Imbue;
    --body-font: "Helvetica Neue", "Arial", sans-serif;
    font-family: var(--body-font);
}

@font-face {
    font-family: Imbue;
    src: url("../assets/fonts/Imbue.ttf");
}

.title-font {
    font-family: var(--title-font);
}

.body-font {
    font-family: var(--body-font);
}

.brass-background {
    background-image: url("../../public/blog/galvanized-steel.jpg");
}

.brass-edging {
    border: 0.25rem solid var(--color-etched-brass);
}

.text-brass {
    color: var(--color-brass);
}

.text-etched-brass {
    color: var(--color-etched-brass);
}

.bg-etched-brass {
    background-color: var(--color-etched-brass);
}
