@import "tailwindcss";

@theme {
    --color-brass: #d5a259;
    --color-etched-brass: #1e1200;
    --color-gold: #ffee00
}

:root {
    --title-font: Telegrama;
    --body-font: "Raleway", "Helvetica Neue", "Arial", sans-serif;
    font-family: var(--body-font);
}

@font-face {
    font-family: Imbue;
    src: url("../assets/fonts/Imbue.ttf");
}

@font-face {
    font-family: Telegrama;
    src: url("../assets/fonts/telegrama_render.otf");
}

.title-font {
    font-family: var(--title-font);
}

.body-font {
    font-family: var(--body-font);
}

.brass-background {
    background-image: url("../../public/blog/galvanized-steel.jpg");
}

.brass-edging {
    border: 0.25rem solid var(--color-etched-brass);
}

.border-stats {
    border-width: 1rem;
    border-style: solid;
    border-image-source: url(/deepworld-2025-website/decorations/deepworld-border-box.png);
    border-image-slice: 18 fill;
    border-image-repeat: stretch;
}
