.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    font-family: var(--title-font);
    margin: 2rem 0 1rem 0;
}

.markdown h1 {
    font-size: 2em;
}

.markdown h2 {
    font-size: 1.50em;
}

.markdown h3 {
    font-size: 1.25em;
}

.markdown h4 {
    font-size: 1.12em;
}

.markdown h5 {
    font-size: 1.6em;
}

.markdown h6 {
    font-size: 1.3em;
}

.markdown ul {
    list-style-type: disc;
    margin-left: 2em;
}

.markdown li {
    list-style-position: outside;
}
