---
interface Props {
    title: string;
    backlink?: string;
}

const { title, backlink } = Astro.props;
---

<html lang="en" class="m-0 p-0 w-full min-h-full bg-gray-950">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title ? `${title} - Deepworld 2025 MMO` : "Not Found"}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="m-0 p-0 w-full min-h-full">
        <header class={`${title ? " " : "hidden "} mb-12 headerimg`}>
            <div class="relative mx-auto max-w-5xl h-32">
                <h1
                    id="title"
                    class="absolute left-4 top-full px-2 -translate-y-1/2 bg-etched-brass border-4 border-brass text-4xl text-white"
                    class="title"
                >
                    {title ?? "Not Found"}
                </h1>
                <a
                    id="backlink"
                    class={`${backlink ? " " : "hidden "}absolute top-full right-4 text-white`}
                    href={backlink ?? "#"}>Go Back</a
                >
            </div>
        </header>
        <slot />
    </body>
</html>

<style>
    .headerimg {
        background-image: url(/deepworld-2025-website/decorations/stats-header.png);
        background-size: cover;
    }

    @keyframes pending-row-animation {
        0% {
            opacity: 0.2;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 0.2;
        }
    }

    :global(.pending-row-animation) {
        counter-increment: pending-row;
        animation-name: pending-row-animation;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        height: 1em;
        background-color: white;
        border-radius: 0.2em;
        margin-bottom: 0.2em;
    }

    :global(.pending-row-animation):first {
        counter-reset: pending-row;
    }
</style>
